body{
    font-family: 'Nunito', sans-serif;
}
.divCover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divCover img{
    width: 70%;
}
a{
    text-decoration: none !important;
}
#userFullNameError, #userQualificationError, #userLocationError, #userEmailError, #userPasswordError, #userSIEmailError, #userSIPasswordError, #userBioError, #editProfileForm{
    display: none;
}

#userAvatar{
    width: 120px;
    height: 120px;
}

#popup {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 50px 2px #000;
  padding-bottom: 5px;
}
#close {
  width: 100px;
  background-color: #cc0033;
  color: #ffffff;
  border: none;
  margin-left: 5px;
}
