.landing-page {
  position: relative;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  z-index: 5;
}

.main .wrapper {
  clear: both;
}

@media (min-width: 78.125em) {
  .wrapper {
    max-width: 1200px;
  }
}

@media (min-width: 65.625em) and (max-width: 78.115em) {
  .wrapper {
    max-width: 1040px;
  }
}

@media (min-width: 60em) and (max-width: 65.615em) {
  .wrapper {
    max-width: 960px;
  }
}

.oculta-texto {
  color: transparent;
  text-indent: -200vw;
  position: absolute;
  top: -100vh;
}

.landing-editor {
  color: #333;
  font-size: 1em;
  line-height: 1.375em;
}

.landing-editor p {
  margin: 1em 0 0 0;
}

.landing-editor p:first-child {
  margin-top: 0;
}

.landing-editor span {
  background: initial !important;
  font-family: 'Open Sans',sans-serif !important;
  font-size: 1em !important;
}

.landing-editor em {
  font-style: italic;
}

.landing-editor ol {
  --ol-bg: #FFF;
  --ol-color: #333;
  list-style: none;
  counter-reset: ol;
}

.landing-editor ol li {
  padding: 0.3125em 0 0.3125em 2.5em;
  position: relative;
}

.landing-editor ol li:before {
  background: var(--ol-bg);
  color: var(--ol-color);
  content: counters(ol, ".");
  counter-increment: ol;
  display: inline-block;
  font-size: 1em;
  height: 1.5em;
  left: 0;
  line-height: 1.5em;
  text-align: center;
  top: 0.3125em;
  width: 1.5em;
}

.landing-editor ul {
  --ul-check: #FFF;
  list-style: none;
}

.landing-editor ul li {
  padding: 0.3125em 0 0.3125em 2.5em;
  position: relative;
}

.landing-editor ul li:before {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--ul-check);
  content: '\f058';
  font-weight: bold;
  font-family: 'Font Awesome 5 Free';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: left;
  top: 0.3125em;
  width: 1.5em;
}
