/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ctis-load-more-container,
.ctis-finished-notice {
    text-align: center;
    clear: both;
}

.ctis-finished-notice {
    margin-bottom: 20px;
}

#ctis-loading
{
    clear: both;
    display: none;
    text-align: center;    
}

#ctis-loading img
{
    max-width: 100%;
    width: auto;
}

.create-masonry:not(.woocommerce) .ctis-finished-notice,
.catchadaptive-masonry:not(.woocommerce) .ctis-finished-notice {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.infinite-loader {
    color: #000;
    display: block;
}

#infinite-handle span button,
#infinite-handle span button:focus,
#infinite-handle span button:hover {
    display: inline;
    position: static;
    padding: 0;
    margin: 0;
    border: none;
    line-height: inherit;
    background: 0 0;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}

@media (max-width:800px) {
    #infinite-handle span:before {
        display: none;
    }
    #infinite-handle span {
        display: block;
    }
}

.ctis-load-more button,
.ctis-load-more button:hover,
.ctis-load-more button:focus,
.ctis-load-more button:active{
    outline: 0;
}
