.elementor-25 .elementor-element.elementor-element-d7dbce6 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-25 .elementor-element.elementor-element-d7dbce6 .elementor-background-overlay{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-25 .elementor-element.elementor-element-d7dbce6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 32px 0px 32px;}.elementor-25 .elementor-element.elementor-element-d7dbce6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-25 .elementor-element.elementor-element-477bcecf{text-align:left;z-index:4;width:auto;max-width:auto;}.elementor-25 .elementor-element.elementor-element-477bcecf .elementor-image img{width:155px;opacity:1;}.elementor-25 .elementor-element.elementor-element-477bcecf .elementor-image:hover img{opacity:1;}.elementor-25 .elementor-element.elementor-element-477bcecf > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-25 .elementor-element.elementor-element-3c851b9 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu .elementor-item{font-family:"Circe", Sans-serif;font-size:1rem;font-weight:400;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--main .elementor-item{color:#FFFFFF;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--main .elementor-item:focus{color:#ffffff;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown a, .elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-menu-toggle{color:#ffffff;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown{background-color:rgba(0,0,0,0.87);}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown a:hover,
					.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-menu-toggle:hover{color:#52afef;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown a:hover,
					.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown a.highlighted{background-color:rgba(0,0,0,0);}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown .elementor-item, .elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:1rem;font-weight:300;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:-5px !important;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu .elementor-item{font-family:"Circe", Sans-serif;font-size:1rem;font-weight:400;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--main .elementor-item{color:#ffffff;padding-top:5px;padding-bottom:5px;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--main .elementor-item:focus{color:#ffffff;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#52afef;}.elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-framed .elementor-item:before,
					.elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-framed .elementor-item:after{border-color:#52afef;}.elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-framed .elementor-item:before{border-width:2px;}.elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 2px 2px;}.elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:2px 2px 0 0;}.elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:2px 0 0 2px;}.elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 2px 2px 0;}.elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-underline .elementor-item:after,
					 .elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-overline .elementor-item:before,
					 .elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-double-line .elementor-item:before,
					 .elementor-25 .elementor-element.elementor-element-65e0147 .e--pointer-double-line .elementor-item:after{height:2px;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown a, .elementor-25 .elementor-element.elementor-element-65e0147 .elementor-menu-toggle{color:#ffffff;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown{background-color:rgba(0,0,0,0.87);}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown a:hover,
					.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-menu-toggle:hover{color:#52afef;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown a:hover,
					.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown a.highlighted{background-color:rgba(0,0,0,0);}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown .elementor-item, .elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:1rem;font-weight:300;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:-5px !important;}.elementor-25 .elementor-element.elementor-element-da1e5b1 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-25 .elementor-element.elementor-element-da1e5b1{z-index:15;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-menu-toggle{margin-left:auto;font-size:25px;border-width:0px;border-radius:0px;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu .elementor-item{font-family:"Circe", Sans-serif;font-size:1rem;font-weight:400;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--main .elementor-item{color:#ffffff;padding-top:5px;padding-bottom:5px;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--main .elementor-item:hover,
					.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--main .elementor-item:focus{color:#ffffff;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#52afef;}.elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-framed .elementor-item:before,
					.elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-framed .elementor-item:after{border-color:#52afef;}.elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-framed .elementor-item:before{border-width:2px;}.elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 2px 2px;}.elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:2px 2px 0 0;}.elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:2px 0 0 2px;}.elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 2px 2px 0;}.elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-underline .elementor-item:after,
					 .elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-overline .elementor-item:before,
					 .elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-double-line .elementor-item:before,
					 .elementor-25 .elementor-element.elementor-element-c0bfcea .e--pointer-double-line .elementor-item:after{height:2px;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--dropdown a, .elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-menu-toggle{color:#ffffff;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--dropdown{background-color:rgba(0,0,0,0.87);}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--dropdown a:hover,
					.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--dropdown a.highlighted,
					.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-menu-toggle:hover{color:#52afef;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--dropdown a:hover,
					.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--dropdown a.highlighted{background-color:rgba(0,0,0,0);}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--dropdown .elementor-item, .elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:1rem;font-weight:300;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:-5px !important;}.elementor-25 .elementor-element.elementor-element-c0bfcea div.elementor-menu-toggle{color:#ffffff;}.elementor-25 .elementor-element.elementor-element-c0bfcea div.elementor-menu-toggle:hover{color:#6ec1e4;}.elementor-25 .elementor-element.elementor-element-eb46bbe .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-25 .elementor-element.elementor-element-eb46bbe .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-25 .elementor-element.elementor-element-eb46bbe .elementor-button{background-color:rgba(0,0,0,0);}.elementor-25 .elementor-element.elementor-element-eb46bbe > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:991px){.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:45px !important;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:45px !important;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:9px !important;}}@media(min-width:768px){.elementor-25 .elementor-element.elementor-element-6eec8f1{width:16.667%;}.elementor-25 .elementor-element.elementor-element-3c851b9{width:46.316%;}.elementor-25 .elementor-element.elementor-element-da1e5b1{width:37.013%;}}@media(max-width:991px) and (min-width:768px){.elementor-25 .elementor-element.elementor-element-3c851b9{width:75%;}.elementor-25 .elementor-element.elementor-element-da1e5b1{width:7%;}}@media(max-width:767px){.elementor-25 .elementor-element.elementor-element-d7dbce6{margin-top:0px;margin-bottom:-142px;}.elementor-25 .elementor-element.elementor-element-6eec8f1{width:15%;}.elementor-bc-flex-widget .elementor-25 .elementor-element.elementor-element-6eec8f1.elementor-column .elementor-column-wrap{align-items:center;}.elementor-25 .elementor-element.elementor-element-6eec8f1.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-25 .elementor-element.elementor-element-6eec8f1 > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-25 .elementor-element.elementor-element-477bcecf > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-25 .elementor-element.elementor-element-3c851b9{width:50%;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu .elementor-item{font-size:14px;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown .elementor-item, .elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:12px;}.elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-25 .elementor-element.elementor-element-b5c3ce6 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:0px !important;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu .elementor-item{font-size:14px;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown .elementor-item, .elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:12px;}.elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-25 .elementor-element.elementor-element-65e0147 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:0px !important;}.elementor-25 .elementor-element.elementor-element-da1e5b1{width:15%;}.elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-25 .elementor-element.elementor-element-c0bfcea .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:50px !important;}.elementor-25 .elementor-element.elementor-element-eb46bbe > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}/* Start custom CSS for theme-site-logo, class: .elementor-element-477bcecf */.xbt-logo {
    line-height: 1;
}
.xbt-logo img {
    width: 155px;
    height: 18px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6eec8f1 */#logo-wrap {
    flex-shrink: 0;
    width: 155px;
    margin-right: 50px;
    padding-left: 0;
    padding-right: 0;
}
#logo-wrap .elementor-element-populated {
    padding: 0;
}
@media (max-width: 992px) { 
    #logo-wrap {
        margin-right: 0;
    }
    
}

@media (max-width: 768px) {
    #logo-wrap .elementor-column-wrap.elementor-element-populated {
        padding: 0;
        
    }
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-b5c3ce6 */.menu-item a.elementor-item {
    height: 50px;
    padding: 8px 16px;
    line-height: normal;
}
.e--pointer-underline .elementor-item:after {
    transition-duration: 200ms !important;
}
.elementor-nav-menu--main .elementor-nav-menu a {
    transition-duration: 0ms !important;
}
.elementor-nav-menu--main .elementor-nav-menu ul.sub-menu {
    padding: 1rem 1rem .5rem;
    font-family: "Circle", Sans-Serif;
    color: #fff !important;
    background-color: rgba(0,0,0,0.87);
    font-weight: normal;
    margin-left: 7px !important;
}
.elementor-nav-menu--main .elementor-nav-menu ul.sub-menu a 
 {
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
   
    font-family: "Circe", Sans-serif;
}
.elementor-nav-menu--main .elementor-nav-menu ul.sub-menu a:hover {color:#52afee;
  
}

.has-submenu.highlighted + ul > li {
    padding: 0 !important;
}
.has-submenu.highlighted + ul > li:first-child {
    border: 0 none !important;
}
.elementor-nav-menu--main .menu-item a.elementor-sub-item, .elementor-nav-menu--main .menu-item a.elementor-sub-item:hover {
   margin: 0 0 8px;
   border: 0 none !important;
   padding: 0 !important;
   line-height: normal;
   background-color: transparent;
   color: white;
}

#main-menu-id .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown {
    margin-top: -15px !important;
}

.elementor-nav-menu--main .elementor-nav-menu a, 
.elementor-nav-menu--main .elementor-nav-menu a:hover{
    padding: 8px 16px !important;
    line-height: normal;
}
.elementor-nav-menu--main .elementor-nav-menu a:hover:after {
    position: absolute;
}
a:hover {
    text-decoration: none!important;
}

.elementor-nav-menu--indicator-none .elementor-nav-menu .elementor-item.has-submenu {
    cursor: default;
}


.elementor-nav-menu .sub-arrow.sub-arrow {
    background: url('/assets/icons/dropdown.svg');
    height: 7px;
    margin: 0 0 0 5px;
    width: 12px;
    padding: 0;
}

.sub-arrow i {
    display: none;
}

.e--pointer-double-line .elementor-item:after, .e--pointer-underline .elementor-item:after {
    bottom: 8px;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-65e0147 */a:hover {
    text-decoration: none!important;
}

@media (max-width: 992px) {
    .right-nav {
        display: flex;
    }
    
    .right-nav li:first-child {
        order: 1;
    }
}

@media (max-width: 768px) {
    .right-nav li:nth-child(2) {
        display: none;
    }
}

@media (max-width: 480px) {
    .right-nav li:last-child {
        display: none !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-3c851b9 */#center-info-wrap {
    flex-grow: 1;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-c0bfcea */.right-nav {
    z-index: 10;
}

.right-nav > div > nav > ul > li:last-child {
    background-color: #52afee;
    border-radius: 5px;
    padding: 2px 15px;
    opacity: .9;
    margin-left: 16px;
    align-self: center;
    width: 130px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

@media (max-width: 992px) {
    .right-nav > div > nav > ul > li:last-child {
        width: 120px;
    }
}

.right-nav > div > nav > ul > li:last-child a {
    height: auto;
    padding: 0 !important;
    justify-content: center;
}
.right-nav > div > nav > ul > li:last-child a:after {
    display: none;
}

.right-nav > div > nav > ul > li:last-child:hover {
    border: none!important;
    opacity: 1;
}

.right-nav .elementor-item img {
    margin: 0 5px 1px 0 !important;
    width: 20px !important;
    height: 15px !important;
}

.not_display {
    display: none !important;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-eb46bbe */#my-menu-btn {
    width: 40px;
    
    align-items: center;
    justify-content: center;
    line-height: 1;
}

#my-menu-btn a {
    padding: 0;
}

#my-menu-btn .elementor-button-icon svg {
    width: 18px;
    height: 13px;
}

@media (max-width: 992px) {
    #my-menu-btn {
        display: flex;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-da1e5b1 */@media (max-width: 992px) {
    #sidebar-wrap {
        width: 40px;
        height: 100%;
        right: 0;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-d7dbce6 *//* Background color on sticky */
.my-nav.elementor-sticky--effects {
background-color:rgba(0,0,0,0.8);
transition: all 0.5s ease;
}

.my-nav {
    height: 76px;
    display: flex;
    align-items: center;
}

.my-nav .elementor-container {
    width: 100%;
}

.my-nav > .elementor-container > .elementor-row {
    flex-wrap: nowrap;
}/* End custom CSS */
/* Start custom CSS for page-settings */body {
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    background-image: url('/blog/wp-content/uploads/2019/08/Mask-Group-1024x269.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 504px;
}

.elementor-nav-menu--dropdown a {
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 767px) {
    body {
        background-size: 1024px 350px;
        background-position: 33% 0;
    }
    .elementor-element-da1e5b1 {
        position: absolute;
        top: 0;
        right: 5px;
    }
}/* End custom CSS */
/* Start Custom Fonts CSS *//* End Custom Fonts CSS */