.elementor-771 .elementor-element.elementor-element-221374b > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:flex-end;align-items:flex-end;}.elementor-771 .elementor-element.elementor-element-221374b:not(.elementor-motion-effects-element-type-background), .elementor-771 .elementor-element.elementor-element-221374b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-771 .elementor-element.elementor-element-221374b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:12px 32px 0px 32px;}.elementor-771 .elementor-element.elementor-element-221374b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-771 .elementor-element.elementor-element-736ce9f > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-771 .elementor-element.elementor-element-866133a{text-align:left;width:auto;max-width:auto;}.elementor-771 .elementor-element.elementor-element-866133a .elementor-image img{width:155px;}.elementor-771 .elementor-element.elementor-element-866133a > .elementor-widget-container{padding:16px 0px 30px 0px;}.elementor-771 .elementor-element.elementor-element-0a1119f .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-771 .elementor-element.elementor-element-0a1119f .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-771 .elementor-element.elementor-element-0a1119f .elementor-button{background-color:rgba(0,0,0,0);}.elementor-771 .elementor-element.elementor-element-0a1119f{width:auto;max-width:auto;top:0px;}body:not(.rtl) .elementor-771 .elementor-element.elementor-element-0a1119f{right:-3.5px;}body.rtl .elementor-771 .elementor-element.elementor-element-0a1119f{left:-3.5px;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu .elementor-item{font-family:"Circe", Sans-serif;font-size:18px;font-weight:normal;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--main .elementor-item:hover,
					.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--main .elementor-item:focus{color:#ffffff;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--main .elementor-item{padding-left:0px;padding-right:0px;padding-top:25px;padding-bottom:25px;}body:not(.rtl) .elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-right:0px;}body.rtl .elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-left:0px;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:0px;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown a, .elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-menu-toggle{color:#ffffff;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown{background-color:#000000;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown a:hover,
					.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown a.highlighted{background-color:rgba(0,0,0,0);}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown .elementor-item, .elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Circe Regular", Sans-serif;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown a{padding-left:16px;padding-right:16px;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown li:not(:last-child){border-style:solid;border-color:#ffffff;border-bottom-width:1px;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:0px !important;}.elementor-771 .elementor-element.elementor-element-015647b .elementor-button{font-family:"Circe", Sans-serif;font-size:14px;background-color:#52AFEE;}.elementor-771 .elementor-element.elementor-element-015647b .elementor-button:hover, .elementor-771 .elementor-element.elementor-element-015647b .elementor-button:focus{background-color:#249AE9;}.elementor-771 .elementor-element.elementor-element-015647b > .elementor-widget-container{margin:62px 0px 16px 0px;}.elementor-771 .elementor-element.elementor-element-b0c5c6c .elementor-button{font-family:"Circe", Sans-serif;font-size:14px;background-color:rgba(0,0,0,0);border-style:solid;border-width:1px 1px 1px 1px;border-color:#6ec1e4;}.elementor-771 .elementor-element.elementor-element-28e2662 .elementor-button{font-family:"Circe", Sans-serif;font-size:16px;fill:#52AFEE;color:#52AFEE;background-color:rgba(0, 0, 0, 0);border-style:solid;border-width:0px 0px 0px 0px;}.elementor-771 .elementor-element.elementor-element-28e2662 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-771 .elementor-element.elementor-element-4f875ff .elementor-repeater-item-c6aea12.elementor-social-icon{background-color:rgba(255,255,255,0);}.elementor-771 .elementor-element.elementor-element-4f875ff .elementor-repeater-item-c6aea12.elementor-social-icon i{color:#ffffff;}.elementor-771 .elementor-element.elementor-element-4f875ff .elementor-repeater-item-c6aea12.elementor-social-icon svg{fill:#ffffff;}.elementor-771 .elementor-element.elementor-element-4f875ff .elementor-repeater-item-8a38ea1.elementor-social-icon{background-color:rgba(0,0,0,0);}.elementor-771 .elementor-element.elementor-element-4f875ff .elementor-repeater-item-665e387.elementor-social-icon{background-color:rgba(0,0,0,0);}.elementor-771 .elementor-element.elementor-element-4f875ff{text-align:center;}.elementor-771 .elementor-element.elementor-element-4f875ff .elementor-social-icon{font-size:23px;}.elementor-771 .elementor-element.elementor-element-4f875ff .elementor-social-icon:not(:last-child){margin-right:-10px;}.elementor-771 .elementor-element.elementor-element-4f875ff > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-771 .elementor-element.elementor-element-87dd6d6.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-771 .elementor-element.elementor-element-8cb97b6{text-align:right;}.elementor-771 .elementor-element.elementor-element-69fa5b7.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-771 .elementor-element.elementor-element-2bee3d5{text-align:left;}#elementor-popup-modal-771 .dialog-message{width:100vw;height:100vh;align-items:center;}#elementor-popup-modal-771{justify-content:center;align-items:center;pointer-events:all;background-color:rgba(255,255,255,0.14);}#elementor-popup-modal-771 .dialog-widget-content{animation-duration:0.3s;background-color:#000000;}@media(max-width:991px){.elementor-771 .elementor-element.elementor-element-221374b{padding:13px 32px 0px 32px;}.elementor-771 .elementor-element.elementor-element-736ce9f > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown .elementor-item, .elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:18px;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown a{padding-left:4px;padding-right:4px;padding-top:20px;padding-bottom:20px;}.elementor-771 .elementor-element.elementor-element-8cb97b6 .elementor-image img{max-width:90%;}}@media(max-width:767px){.elementor-771 .elementor-element.elementor-element-221374b{padding:13px 0px 0px 0px;}.elementor-771 .elementor-element.elementor-element-736ce9f > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-771 .elementor-element.elementor-element-866133a > .elementor-widget-container{margin:0px 0px 0px 32px;}.elementor-771 .elementor-element.elementor-element-0a1119f > .elementor-widget-container{margin:0px 32px 0px 0px;padding:0px 0px 0px 0px;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--main .elementor-item{padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--dropdown a{padding-left:16px;padding-right:16px;padding-top:30px;padding-bottom:30px;}.elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-771 .elementor-element.elementor-element-d1ee2ab .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:18px !important;}.elementor-771 .elementor-element.elementor-element-d1ee2ab > .elementor-widget-container{margin:-20px 0px 0px 0px;padding:0px 0px 0px 0px;}}/* Start custom CSS for image, class: .elementor-element-866133a */.logo-burger-img {
    line-height: 1;
}
.logo-burger-img img {
    width: 155px;
    height: 18px;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-0a1119f */.my-menu-btn {
    width: 40px !important;
}
.my-menu-btn a {
    padding: 11px 15px 0 0 !important;
}
.my-menu-btn .elementor-button-icon svg {
    width: 1.5em;
    height: 18px;
    margin-top: 15px;
}


    .my-menu-btn .elementor-button-icon svg {
        margin-top: 8px;
    width: 18px;
    height: 13px;
}

@media (max-width: 1024px) {
.elementor-771 .elementor-element.elementor-element-d3d290f .elementor-nav-menu--dropdown a {
    display: flex;
    justify-content: space-between;
    }
    .elementor-771 .elementor-element.elementor-element-d3d290f .elementor-nav-menu--dropdown a .sub-arrow {
        margin-right: 13px;
    }
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-d1ee2ab */.my-mobile-menu .menu-item:last-child {
    border-bottom: 1px solid white;
}

.has-submenu.highlighted .sub-arrow .fa {
    transform: rotate(180deg);
}

.has-submenu.highlighted + ul > li {
    border-color: hsla(0,0%,100%,.25)!important;
    padding-left: 10px;
    font-size: 1rem;
}

.has-submenu.highlighted + ul > li:first-child {
    border-top: 1px solid hsla(0,0%,100%,.25);
}

.mobmenu__section-caption:not(:last-child) {
    border-bottom: 1px solid hsla(0,0%,100%,.25);
}


.elementor-nav-menu .sub-arrow.sub-arrow {
   
    width: 12px;
    right: -1px;
    height: 7px;
}


body:not(.rtl) .elementor-771 .elementor-element.elementor-element-0a1119f {
    right: 19.5px;
}
a.elementor-sub-item {
    margin-left: 7px;
}

.elementor-nav-menu a, .elementor-nav-menu, .elementor-nav-menu a, .elementor-nav-menu a, .elementor-nav-menu, .elementor-nav-menu a:hover {
    
    line-height: 0px;
}
a.elementor-sub-item{
font-family: "Circle", Sans-Serif;
    font-size: 14px;
}



@media(max-width:767px){
.elementor-nav-menu .sub-arrow.sub-arrow {
    position: absolute;
    right: 40px;
    height: 8px;
    background-repeat: no-repeat;
}
.elementor-25 .elementor-element.elementor-element-d7dbce6 {
    
    z-index: 999 !important;
}


}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-015647b */.my-register-btn .elementor-button {
    min-width: 18rem;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-b0c5c6c */.my-login-btn .elementor-button {
    min-width: 18rem;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-28e2662 */.preview span.elementor-button-text:hover {
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-736ce9f */.burger-row {
    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-221374b */.my-menu-section {
    height: 100vh;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-8cb97b6 */.ssl-sert {
    width: 90px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5507567 */.always-columns .elementor-col-50 {
    width: 50% !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-25bc98d */.bottom-images {
    position: absolute;
    margin-top: -80px;
    width: 100%;
}/* End custom CSS */