body {
    margin: 0;
    font: 12px "Open Sans", Arial, Helvetica, sans-serif;
    clear: left;
    color: #000;
}

footer {
    margin: 0;
    font: 12px "Open Sans", Arial, Helvetica, sans-serif;
    clear: both;
    color: #000;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

h1 span {
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;

}

h2 {
    font-size: 18px;
    padding: 1px 0 0 0;
    margin: 0;
    font-weight: normal;
    color: #3D6E88;
}

h3 {
    font-size: 16px;
    padding: 0;
    margin: 30px 0 10px 0;
    clear: both;
    color: #555;
}

h3 span {
    font-size: 11px;
    padding-left: 1em;
    font-weight: normal;
}

h5 {
    font-size: 16px;
    padding: 0;
    margin: 20px 0 5px 0;
}

h6 {
    font-size: 13px;
    padding: 0;
    margin: 10px 0 5px 0;
}

dl, dd, dt {
    padding: 0;
    margin: 0;
}

table.regular-table {
    width: auto;
    padding: 0;
    margin: 0 0 0 -8px;
}

tr.total td {
    font-weight: bold;
    border-bottom: none;
    color: #0791C5;
}

.empty {
    color: #ddd !important;
}

.no-measure {
    padding-right: 1.75em !important;
}

.attached-mark {
    font-family: 'Arial', sans-serif;
    color: #000;
}

.total-pl {
    font-size: 13px;
    display: block;
    padding: 6px 0 0 0;
}

.regular-table td {
    border-bottom: 1px dashed #e2e2e2;
    text-align: center;
    font-size: 13px;
    padding: 6px 8px;
    vertical-align: top;
}

.regular-table th {
    white-space: nowrap;
    border-bottom: 2px solid #bbb;
    font-size: 11px;
    font-weight: normal;
    padding: 3px 8px;

}

#header-user-summary {
    margin-bottom: -5px;
}

#header-user-summary td {
    paddig: 0;
    vertical-align: top;
}

#first-th th {
    border-bottom: none;
    padding: 3px 8px 1px;
}

#second-th th {
    border-bottom: 2px solid #777;
    padding: 1px 8px 3px;
}

th span, .transaction td, h3 span em {
    color: #888;
    font-style: italic
}

#summary-tbls-part-one, #summary-tbls-part-two {
    overflow: hidden;
    padding-left: 5px;
    margin: -7px 0 0 -5px;
}

#summary-tbls-part-one div, #summary-tbls-part-two div, #user-data-tbls div {
    float: left;
}

#user-data-tbls {
    padding-top: .70em;
}

#balance-tbls {
    overflow: hidden;
    margin: 20px 0 -8px -5px;
    padding-left: 5px;
}

#balance-tbls div {
    float: left;
    padding-bottom: 10px;
}

#balance-chart-table {
    padding: 0;
    margin: 0 0 0 -4px;
}

#balance-chart-table td {
    padding-right: 8px;
    padding-top: 10px;
    font-size: 13px;
    vertical-align: top;
}

#main-wrapper {
    padding: 25px 4% 4%;
}

#main-container {
    float: left;
    position: relative;
}

#head-container {
    position: relative;
    float: left;
}

#name {
    display: block;
    width: 147px;
    height: 100px;
    font-size: 0;
    background: url($logoPath) 0 0 no-repeat;
    margin-bottom: 28px;
}

#summary-container {
    margin-top: -12px;
}

table.short-table {
    width: auto;
    padding: 0;
    margin: 0 0 0 -4px;
    clear: both;
}
.fictious-color{
    background-color: #ffb3b3;
}

.first-col-head {
    text-align: left;
    padding-left: 8px !important;
}

.l-al {
    text-align: left !important;
}

.l-indent {
    padding-left: 40px;
}

.r-indent {
    padding-right: 40px !important;
}

#summary-left-part {
    border-right: 1px dashed #3D6E88;
}

#summary-right-part {
    padding-left: 58px;
}

.nt {
    font-style: italic;
}

.nb {
    font-weight: bold;
}

.no-wrap {
    white-space: nowrap;
}

.r-al {
    text-align: right !important;
}

.short-table td {
    padding-right: 8px;
    padding-top: 8px;
    font-size: 13px;
}

.uppercase {
    letter-spacing: 1px;
}